.navbar {
    width: 250px; /* Adjust the width as needed */
    height: 100vh;
    border-right: 1px solid black;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optholder {
    height: 100%;
    display: block;
    flex-direction: column;
}  

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    width: 220px;
    padding:0px;
}


.logoname {
    font-family: 'Euphoria Script', cursive;
    color: white;
    font-size: 30px;
    margin:0px 0px 0px 7%;
    padding:15px 0px 0px 0px;
    width:100px;
}

.link1 {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 0px 0px 0px 0px ;
    padding: 7px 60% 7px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link2 {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 10px 0px 0px 0px ;
    padding: 7px 52% 7px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link3 {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 10px 0px 0px 0px ;
    padding: 7px 48% 7px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link4 {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 10px 0px 0px 0px ;
    padding: 7px 58% 7px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link5 {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 10px 0px 0px 0px ;
    padding: 7px 42% 7px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link6 {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 10px 0px 0px 0px ;
    padding: 7px 28% 7px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link7 {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 10px 0px 0px 0px ;
    padding: 7px 53% 7px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link8 {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 10px 0px 0px 0px ;
    padding: 7px 48% 7px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: #f0f0f0;
}


.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.links:hover .icon{
    width:27px;
    height:27px;
}


.menu{
    color: white;
    padding: 7px 57.6% 7px 10px;
    margin:8% 0px 0px 0px;
    border-radius: 5px;
}

.menu:hover{
    transition: background-color 0.3s;

}