@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dela+Gothic+One&family=Euphoria+Script&family=Gruppo&family=Playfair+Display:wght@500&family=Roboto+Condensed:wght@300&family=Rochester&family=Teko:wght@300;400;500;600;700&display=swap');
*{
    padding:0px;
    margin:0px;
}

body{
    margin:0px;
    padding:0px;
}